In [3]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('athletic_sales_2020.csv')
df_2021 = pd.read_csv('athletic_sales_2021.csv')

In [5]:
# Display the 2020 sales DataFrame
print(df_2020.head(5))

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [6]:
# Display the 2021 sales DataFrame
print(df_2021.head(5))

    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [7]:
# Check the 2020 sales data types.
print(df_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [8]:
# Check the 2021 sales data types.
print(df_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [9]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
df_combined = pd.concat([df_2020, df_2021], axis=0)
print(df_combined.count())

retailer            9643
retailer_id         9643
invoice_date        9643
region              9643
state               9643
city                9643
product             9643
price_per_unit      9643
units_sold          9643
total_sales         9643
operating_profit    9643
sales_method        9643
dtype: int64

In [10]:
# Check if any values are null.
null_check = pd.isnull(df_combined)
null_check = null_check.any()
print(null_check)

retailer            False
retailer_id         False
invoice_date        False
region              False
state               False
city                False
product             False
price_per_unit      False
units_sold          False
total_sales         False
operating_profit    False
sales_method        False
dtype: bool

In [11]:
# Check the data type of each column
print(df_combined.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [27]:
# Convert the "invoice_date" to a datetime datatype
df_combined['invoice_date'] = pd.to_datetime(df_combined['invoice_date'])

In [28]:
# Confirm that the "invoice_date" data type has been changed.
print(df_combined.dtypes)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [29]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
grouped_df = df_combined.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()
grouped_df = grouped_df.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
top_5_df = grouped_df.sort_values(by='Total_Products_Sold', ascending=False).head(5)

print(top_5_df)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [30]:
# Show the number products sold for region, state, and city.
pivot_table = df_combined.pivot_table(index=['region', 'state', 'city'],
                                      values= 'units_sold',
                                      aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = pivot_table.rename(columns={'units_sold' : 'Total_Products_Sold'})

# Show the top 5 results.
top_five_results = pivot_table.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print(top_five_results)

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [31]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_df = df_combined.groupby(['region', 'state', 'city'])['total_sales'].sum()
grouped_df = grouped_df.reset_index(name='Total_Sales')

# Show the top 5 results.
top_sales = (grouped_df.sort_values(by='Total_Sales', ascending=False)
             .head(5)
             .to_string(index=False))
print(top_sales)

   region          state          city  Total_Sales
Northeast       New York      New York     39801235
     West     California San Francisco     33973228
Southeast        Florida         Miami     31600863
Southeast South Carolina    Charleston     29285637
Southeast        Florida       Orlando     27682851

#### Using `pivot_table`

In [32]:
# Show the total sales for the products sold for each region, state, and city.
my_table = df_combined.pivot_table(index=['region', 'state', 'city'],
                                     values='total_sales',
                                     aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
my_table = my_table.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_sales = my_table.sort_values('Total Sales', ascending=False).head(5)
print(top_5_sales)

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [33]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
retailer_group_df = df_combined.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum()
retailer_group_df = retailer_group_df.reset_index(name='Total Sales')
# Show the top 5 results.
top_retailer = (retailer_group_df.sort_values(by='Total Sales', ascending=False)
                .head(5)
                .to_string(index=False))
print(top_retailer)

   retailer    region          state          city  Total Sales
  West Gear      West     California San Francisco     32794405
     Kohl's      West     California   Los Angeles     25127160
Foot Locker Northeast       New York      New York     25008568
  West Gear      West     Washington       Seattle     24862675
Foot Locker Southeast South Carolina    Charleston     24822280

#### Using `pivot_table`

In [34]:
# Show the total sales for the products sold for each retailer, region, state, and city.
retailer_table = df_combined.pivot_table(index=['retailer', "region", 'state', 'city'],
                                         values= 'total_sales',
                                         aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
retailer_table = retailer_table.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_retailers = retailer_table.sort_values('Total Sales', ascending=False).head(5)
print(top_5_retailers)

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [35]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_shoes_df = df_combined[df_combined['product'] == "Women's Athletic Footwear"]

#### Using `groupby`

In [36]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_shoe_df = df_combined.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum()
womens_shoe_df_adj = womens_shoe_df.reset_index(name="Womens_Footwear_Units_Sold")
# Show the top 5 results.
top_womems_retailer = (womens_shoe_df_adj.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)
                       .head(5)
                       .to_string(index=False))
print(top_womems_retailer)

     retailer    region      state          city  Womens_Footwear_Units_Sold
    West Gear      West California San Francisco                       81233
       Kohl's      West California   Los Angeles                       74543
  Foot Locker Northeast   New York      New York                       72196
Sports Direct     South      Texas        Dallas                       67683
      Walmart     South      Texas       Houston                       65072

#### Using `pivot_table`

In [37]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
womens_shoe_df = womens_shoe_df.reset_index()
womens_table = womens_shoe_df.pivot_table(index=['retailer', 'region', 'state', 'city'],
                                            values='units_sold',
                                            aggfunc='sum')

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_table = womens_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})
# Show the top 5 results.
top_5_w_table = womens_table.sort_values('Womens_Footwear_Units_Sold', ascending=False).head(5)

print(top_5_w_table)

                                                  Womens_Footwear_Units_Sold
retailer      region    state      city
West Gear     West      California San Francisco                       81233
Kohl's        West      California Los Angeles                         74543
Foot Locker   Northeast New York   New York                            72196
Sports Direct South     Texas      Dallas                              67683
Walmart       South     Texas      Houston                             65072

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [38]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
womens_shoes_table_df= df_combined[df_combined['product'] == "Women's Athletic Footwear"]
womens_pivot_table = womens_shoes_table_df.pivot_table(index='invoice_date', 
                                             values='total_sales', 
                                             aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
womens_pivot_table = womens_pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Show the table.
print(womens_pivot_table)

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [41]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = womens_pivot_table.resample('D').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
sorted_daily_sales = daily_sales.sort_values(by='Total Sales', ascending=False)
print(sorted_daily_sales)

# Extracting the day with the highest sales
highest_sales_row = sorted_daily_sales.idxmax()

highest_sales_date = highest_sales_row['Total Sales']
highest_sales_value = sorted_daily_sales.loc[highest_sales_date, 'Total Sales']

print(f"The day with the highest sales for women's athletic footwear was {highest_sales_date.strftime('%Y-%m-%d')} with a total of

SyntaxError: unterminated string literal (detected at line 14) (2679939558.py, line 14)

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [42]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = womens_pivot_table.resample('W').sum()

# Sort the resampled pivot table in ascending order on "Total Sales".
sorted_weekly_sales = weekly_sales.sort_values(by='Total Sales', ascending=False)
print(sorted_weekly_sales)

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]

In [43]:
# Extracting the week with the highest sales
highest_sales_week = sorted_weekly_sales.index[0]
highest_sales_value = sorted_weekly_sales.iloc[0]['Total Sales']

# Format the start and end dates of the week
week_start = highest_sales_week.strftime('%Y-%m-%d')
week_end = (highest_sales_week + pd.Timedelta(days=6)).strftime('%Y-%m-%d')

print(f"The week with the highest sales for women's athletic footwear was from {week_start} to {week_end}, with a total of ${hi

SyntaxError: unterminated string literal (detected at line 9) (3664239759.py, line 9)